<!-- main heading div -->
<div class="container-fluid " style="height: 200px;">
    <div class="row justify-content-center align-items-center row1 " style="height: 100%;">
        <div class="col-sm-12 col-lg-12 col-xl-12 col-md-12  d-flex justify-content-center align-items-center mainh1  "
            style="height:100%;">
            <h3 class="maintext"><u>Filed Of Expertise</u></h3>
        </div>

    </div>
</div>

<hr style="width: 50%; margin-right: auto; margin-left: auto;">

<!--1st services  starts here odd -->
<div class="container-fluid  designodd ">
    <div class="row justify-content-center align-items-center designrow">
        <div class="col-sm-12 col-lg-6 col-xl-6 col-md12 classtext">
            <div>
                <h6 class="textmain"> <u> Furniture Layouts & Designs </u></h6>
            </div>

            <div>
                <a href={{phoneno}}> <button class="btn btn-primary"><i class="fas fa-phone fa-2x"></i> <u>
                            <b>Get Now </b></u> </button></a>
            </div>

        </div>
        <div class="col-sm-12 col-lg-6 col-xl-6 col-md12 classimage1">
            <img src="../../../assets/Furnituredesign.jpg" class="mainimage" alt=" furnituredesign">

        </div>
    </div>
</div>

<!-- 2ndnext service even -->
<div class="container-fluid designeven">
    <div class="row justify-content-center align-items-center designrow">

        <div class="col-sm-12 col-lg-6 col-xl-6 col-md12 classimage1">
            <img src="../../../assets/spaceplan.jpg" class="mainimage" alt=" furnituredesign">

        </div>

        <div class="col-sm-12 col-lg-6 col-xl-6 col-md12 classtext">
            <div>
                <h6 class="textmain"> <u>Space Planning</u></h6>
            </div>

            <div>
                <a href={{phoneno}}> <button class="btn btn-primary"><i class="fas fa-phone fa-2x"></i> <u>
                            <b>Get Now </b></u> </button></a>
            </div>

        </div>
    </div>


</div>
<hr style="width: 50%; margin-right: auto; margin-left: auto;">
<!-- third service -->
<div class="container-fluid  designthird ">
    <div class="row justify-content-center align-items-center designrow">
        <div class="col-sm-12 col-lg-6 col-xl-6 col-md12 classtext">
            <div>
                <h6 class="textmain"> <u> Floor plans</u></h6>
            </div>

            <div>
                <a href={{phoneno}}> <button class="btn btn-primary"><i class="fas fa-phone fa-2x"></i> <u>
                            <b>Get Now </b></u> </button></a>
            </div>

        </div>
        <div class="col-sm-12 col-lg-6 col-xl-6 col-md12 classimage1">
            <img src="../../../assets/floorplan.jpg" class="mainimage" alt=" furnituredesign">

        </div>
    </div>
</div>

<!-- fourth service -->
<div class="container-fluid designeven">
    <div class="row justify-content-center align-items-center designrow ">

        <div class="col-sm-12 col-lg-6 col-xl-6 col-md12 classimage1">
            <img src="../../../assets/Kitchenplan.jpg" class="mainimage" alt=" furnituredesign">

        </div>

        <div class="col-sm-12 col-lg-6 col-xl-6 col-md12 classtext">
            <div>
                <h6 class="textmain"> <u> Modular Kitchen</u></h6>
            </div>

            <div>
                <a href={{phoneno}}> <button class="btn btn-primary"><i class="fas fa-phone fa-2x"></i> <u>
                            <b>Get Now </b></u> </button></a>
            </div>

        </div>
    </div>


</div>

<hr style="width: 50%; margin-right: auto; margin-left: auto;">
<!-- fifithservice -->

<div class="container-fluid designodd  ">
    <div class="row justify-content-center align-items-center designrow ">
        <div class="col-sm-12 col-lg-6 col-xl-6 col-md12 classtext">
            <div>
                <h6 class="textmain"> <u>House Planning</u></h6>
            </div>

            <div>
                <a href={{phoneno}}> <button class="btn btn-primary"><i class="fas fa-phone fa-2x"></i> <u>
                            <b>Get Now </b></u> </button></a>
            </div>

        </div>
        <div class="col-sm-12 col-lg-6 col-xl-6 col-md12 classimage1">
            <img src="../../../assets/houseplan.jpg" class="mainimage" alt=" furnituredesign">

        </div>
    </div>
</div>


<!-- sixthserive -->
<div class="container-fluid designthird">
    <div class="row justify-content-center align-items-center designrow">

        <div class="col-sm-12 col-lg-6 col-xl-6 col-md12 classimage1">
            <img src="../../../assets/Wardrobeplan.jpg" class="mainimage" alt=" furnituredesign">

        </div>

        <div class="col-sm-12 col-lg-6 col-xl-6 col-md12 classtext">
            <div>
                <h6 class="textmain"> <u>Wardrobe design</u></h6>
            </div>

            <div>
                <a href={{phoneno}}> <button class="btn btn-primary"><i class="fas fa-phone fa-2x"></i> <u>
                            <b>Get Now </b></u> </button></a>
            </div>

        </div>
    </div>


</div>
<hr style="width: 50%; margin-right: auto; margin-left: auto;">
<!-- 7thservice -->
<div class="container-fluid  designodd ">
    <div class="row justify-content-center align-items-center designrow">
        <div class="col-sm-12 col-lg-6 col-xl-6 col-md12 classtext">
            <div>
                <h6 class="textmain"> <u>False ceiling</u></h6>
            </div>

            <div>
                <a href={{phoneno}}> <button class="btn btn-primary"><i class="fas fa-phone fa-2x"></i> <u>
                            <b>Get Now </b></u> </button></a>
            </div>

        </div>
        <div class="col-sm-12 col-lg-6 col-xl-6 col-md12 classimage1">
            <img src="../../../assets/Falseceiling.jpg" class="mainimage" alt=" furnituredesign">

        </div>
    </div>
</div>


<!-- 8th service -->
<div class="container-fluid designeven">
    <div class="row justify-content-center align-items-center designrow">

        <div class="col-sm-12 col-lg-6 col-xl-6 col-md12 classimage1">
            <img src="../../../assets/Lightening.jpg" class="mainimage" alt=" furnituredesign">

        </div>

        <div class="col-sm-12 col-lg-6 col-xl-6 col-md12 classtext">
            <div>
                <h6 class="textmain"> <u>Home Lightings</u></h6>
            </div>

            <div>
                <a href={{phoneno}}> <button class="btn btn-primary"><i class="fas fa-phone fa-2x"></i> <u>
                            <b>Get Now </b></u> </button></a>
            </div>

        </div>
    </div>


</div>
<hr style="width: 50%; margin-right: auto; margin-left: auto;">
<!-- 9thservice -->

<div class="container-fluid  designthird ">
    <div class="row justify-content-center align-items-center designrow ">
        <div class="col-sm-12 col-lg-6 col-xl-6 col-md12 classtext">
            <div>
                <h6 class="textmain"> <u> Windows & Doors Curtain </u></h6>
            </div>

            <div>
                <a href={{phoneno}}> <button class="btn btn-primary"><i class="fas fa-phone fa-2x"></i> <u>
                            <b>Get Now </b></u> </button></a>
            </div>

        </div>
        <div class="col-sm-12 col-lg-6 col-xl-6 col-md12 classimage1">
            <img src="../../../assets/curtaindesign.jpg" class="mainimage" alt=" furnituredesign">

        </div>
    </div>
</div>

<!-- 10th service -->
<div class="container-fluid designodd">
    <div class="row justify-content-center align-items-center designrow">

        <div class="col-sm-12 col-lg-6 col-xl-6 col-md12 classimage1">
            <img src="../../../assets/Wallpainting.jpg" class="mainimage" alt=" furnituredesign">

        </div>

        <div class="col-sm-12 col-lg-6 col-xl-6 col-md12 classtext">
            <div>
                <h6 class="textmain"> <u>Wall Paintings </u></h6>
            </div>

            <div>
                <a href={{phoneno}}> <button class="btn btn-primary"><i class="fas fa-phone fa-2x"></i> <u>
                            <b>Get Now </b></u> </button></a>
            </div>

        </div>
    </div>


</div>
<hr style="width: 50%; margin-right: auto; margin-left: auto;">
<!-- 11thserivce -->
<div class="container-fluid  designeven ">
    <div class="row justify-content-center align-items-centerdesignrow ">
        <div class="col-sm-12 col-lg-6 col-xl-6 col-md12 classtext">
            <div>
                <h6 class="textmain"> <u> Art Decors </u></h6>
            </div>

            <div>
                <a href={{phoneno}}> <button class="btn btn-primary"><i class="fas fa-phone fa-2x"></i> <u>
                            <b>Get Now </b></u> </button></a>
            </div>

        </div>
        <div class="col-sm-12 col-lg-6 col-xl-6 col-md12 classimage1">
            <img src="../../../assets/artdecors.jpg" class="mainimage" alt=" furnituredesign">

        </div>
    </div>
</div>

<!-- 12th service -->
<div class="container-fluid designodd">
    <div class="row justify-content-center align-items-center designrow ">

        <div class="col-sm-12 col-lg-6 col-xl-6 col-md12 classimage1">
            <img src="../../../assets/artifacts.jpg" class="mainimage" alt=" furnituredesign">

        </div>

        <div class="col-sm-12 col-lg-6 col-xl-6 col-md12 classtext">
            <div>
                <h6 class="textmain"> <u> Artifacts </u></h6>
            </div>

            <div>
                <a href={{phoneno}}> <button class="btn btn-primary"><i class="fas fa-phone fa-2x"></i> <u>
                            <b>Get Now </b></u> </button></a>
            </div>

        </div>
    </div>


</div>
<hr style="width: 50%; margin-right: auto; margin-left: auto;">
<!-- 13th service -->

<div class="container-fluid  designthird ">
    <div class="row justify-content-center align-items-center designrow ">
        <div class="col-sm-12 col-lg-6 col-xl-6 col-md12 classtext">
            <div>
                <h6 class="textmain"> <u>3D Design view </u></h6>
            </div>

            <div>
                <a href={{phoneno}}> <button class="btn btn-primary"><i class="fas fa-phone fa-2x"></i> <u>
                            <b>Get Now </b></u> </button></a>
            </div>

        </div>
        <div class="col-sm-12 col-lg-6 col-xl-6 col-md12 classimage1">
            <img src="../../../assets/3ddesignview.jpg" class="mainimage" alt=" furnituredesign">

        </div>
    </div>
</div>





<!-- 14th service -->
<div class="container-fluid designodd" style="margin-bottom: 20px;">
    <div class="row justify-content-center align-items-center designrow ">

        <div class="col-sm-12 col-lg-6 col-xl-6 col-md12 classimage1">
            <img src="../../../assets/bathromdesign.jpg" class="mainimage" alt=" furnituredesign">

        </div>

        <div class="col-sm-12 col-lg-6 col-xl-6 col-md12 classtext">
            <div>
                <h6 class="textmain"> <u>Bathroom Design</u></h6>
            </div>

            <div>
                <a href={{phoneno}}> <button class="btn btn-primary"><i class="fas fa-phone fa-2x"></i> <u>
                            <b>Get Now </b></u> </button></a>
            </div>

        </div>
    </div>


</div>


<!-- liked our serivees -->

<div class="container textcontainer">
    <div class="row justify-content-center align-items-center textrow">
        <div
            class="col-sm-12 col-lg-12 col-md-12 col-xl-12 d-flex justify-content-center align-items-center textcolumn">
            <div class="textfinal">
                <h5>Liked Our Services? <br> Get Them Now</h5>
            </div>
            <div class="contact">
                <a routerLink="/main/contact"><button class="btn btn-primary"> Contact US</button></a>

            </div>


        </div>

    </div>

</div>