<!-- <div class="container-fluid footer ">
    <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 col-xl-4">
            <app-social></app-social>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 col-xl-4">
            <h1>this is column2 </h1>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 col-xl-4">
            <h1>this is colum 3</h1>
        </div>

    </div>
</div> -->

<!-- main  -->
<div class="container-fluid mainfooter">
    <!-- main div -->
    <div class="row justify-content-center align-items-center backgroundrasy">


        <div class="col-sm-12 col-lg-12 col-xl-4 col-md-12 contentcolumn" style="padding-bottom: 20px;">
            <div class="socaillink">
                <h5>Social Links</h5>
            </div>
            <app-social></app-social>
        </div>

        <div class="col-sm-12 col-lg-12 col-xl-4 col-md-12 contentcolumn">
            <div class="imagebox"> <a href="#"><img src="../../../assets/hdlogo.png" class="logoimage" alt=""></a></div>
            <p>Hd Design house and interior space is the best interior design studio of the india. We provide high
                quality service at an affordable cost.Hd design house gives you the option to select from millions
                designs available, Also provides facility to design interior according to customer needs by team of our
                expert designers.
            </p>
        </div>
        <div class="col-sm-12 col-lg-12 col-xl-4 col-md-12 contentcolumn">
            <div class="socaillink">
                <h5>Important links</h5>

            </div>
            <div class="linkitem">
                <ul>
                    <li><a routerLink="/main/about">About Us</a></li>
                    <li><a routerLink="/main/service"> Services</a></li>
                    <li><a routerLink="/main/contact">Contact US</a></li>
                    <li><a routerLink="/main/gallery">View More</a></li>

                </ul>
            </div>
        </div>


    </div>
</div>

<!-- bottom row -->
<div class="container-fluid">
    <div class="row mainrow justify-content-center ">
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 columnstyle">
            <div class="date">
                <small> <u> ©{{date}} HD Design House & interior Space</u>
                </small>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mainrow2 columnstyle">
            <ul class="ulrow">
                <li><a routerLink="/main/privacy"><small>Privacy Policy</small></a></li>
            </ul>

        </div>
    </div>

</div>