<!-- leads can contacts section -->
<div>
    <app-leads></app-leads>
</div>
<hr class="hr">
<!-- 
    this is location and social section
 -->
<div class="container contactcontent">
    <div class="row  justify-content-center align-item-center text-center">
        <!-- this is location class -->
        <div class="col-lg-4 col-xl-4 col-sm-12 col-md-6 companylocation  ">
            <div class="copanydetails">
                <div>
                    <a href="https://goo.gl/maps/eWaLn6FT8PiHE8mG8" target="_blank" rel="noopener noreferrer"
                        style="color: black; cursor: pointer;">
                        <i class="fa fa-map-marker fa-1" aria-hidden="true" style="color: rgb(149, 38, 38);"></i>
                        <h5>HD Design house & interior space</h5>
                    </a>
                    <small>House no 4417,
                        new mig road no 14 vidyut nagar bhel Hyderabad,
                        Telangana, India 502032</small>
                </div>


                <div class="socail">
                    <app-social></app-social>
                </div>
            </div>


        </div>


    </div>
    <div class="row  justify-content-center ">
        <!-- this is the map section -->
        <div class="col-lg-7 col-xl-7 col-sm-12 col-md-6 googlemaps imagerow  ">


            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3805.561901513469!2d78.30122161478398!3d17.480670504709355!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb92cce00d76fd%3A0xd96a77a7fa368405!2sNew%20MIG%20Rd%2C%20Hyderabad%2C%20Telangana%20502032!5e0!3m2!1sen!2sin!4v1615964123068!5m2!1sen!2sin"
                width="100%" height="100%" style="border:0; " allowfullscreen="ture" loading="lazy"></iframe>


        </div>
    </div>

</div>


<hr style="width: 50%; margin-left: auto; margin-right: auto;">