  <!-- social link -->
  <div class="Sociallinkcont">
    <div class="sociallink">
        
        <a href="{{facebookurl}}"  target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook"></i> </a>
    </div>
    <div class="sociallink">
       <a href="{{Twitterurl}}"  target="_blank" rel="noopener noreferrer" > <i class="fab fa-twitter"></i></a>
    </div>
    <div class="sociallink">
        <a href="{{instagramurl}}"  target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
    </div>
    <div class="sociallink">
       <a href="{{youtubeurl}}"  target="_blank" rel="noopener noreferrer"> <i class="fab fa-youtube"></i></a>
    </div>
</div>
