<div class="container-fluid">

    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 d-flex justify-content-center">
            <img src="../../../assets/eroor.png" alt="error page" class="errorimage">
            h1
        


        </div>
        <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12  textclass ">
            <h6>The Page You Reuested could not be found </h6>
            <a href="">Please Try this address to home</a>

        </div>


    </div>

</div>